{% extends 'base.html' %}
{% load cart_tag %}
{% block content %}
  <form method="post" enctype="multipart/form-data">
        {{ order_form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-dark">Order</button>
  </form>

   <table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
        <th scope="col">Quantity</th>
         <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  {% for key, val in cart.items %}
    <tr>
      <td>{{ val.name }}</td>
      <td><img  src="{{ val.image }}"></td>
      <td>{{ val.price }}</td>
    <td>{{ val.quantity }}</td>
    <td>{{ val.price|multiply:val.quantity }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    <h1>Общая сумма: {{ total_cost }}$</h1>
{% endblock %}